body {
    background-color: #202020;

}

div#container {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid blue; */
}

div#score {
    width: 25%;
    max-width: 160px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 25px;
}
#score h2 {
    margin: 2px;
    width: 100%;
}
#score p {
    width: 100%;
}

div#canvas_container {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* width: 100%; */
    border-radius: 15px;
    margin: 0;
    padding-bottom: 10px;
    padding: 0;
    /*height: 100%;*/
    position: relative;
}

canvas#bouncy_canvas {
    margin: 0;
    border: 1px solid #000;
    border-radius: 15px;

}

/* ###################### */
/* #### Start Screen #### */
/* ###################### */

div#start_screen {
    position: absolute;
    background: white;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    width: 75%;
    padding: 25px;
}

#start_screen h1 {
    margin: 5px auto;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
#start_screen h2 {
    margin: 5px auto;
    /* text-align: center; */
    width: 100%;
}

#start_screen #commands {
    width: 35%;
    /* padding: 15px; */
}

#start_screen #blobsGalerie {
    width: 65%;
}

#blobsGalerie {
    display: flex;
    flex-wrap: wrap;
}

#blobGalerie {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
}

#rules {
    width: 100%;
}

#rules .start {
    text-align: right;
    font-style: italic;
    font-size: 2em;
    margin: 0;
}

.fas {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
}